<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams>
    <hp value="H"/>
    <mv value="V"/>
    <dsu value="X"/>
  </baseparams>
  <maxparams>
    <hp value="1"/>
    <hpid value="r1"/>
    <mv value="2"/>
    <mvid value="r1"/>
    <xp value="1"/>
    <xpid value="r2"/>
    <dsu value="1"/>
    <dsuid value="r3"/>
  </maxparams>
  <regexp>
    <r1 value="^Вы имеете [0-9]+\(([0-9]+)\) единиц здоровья, [0-9]+\(([0-9]+)\) энергетических единиц."/>
    <r2 value="^Вы набрали ([0-9]+) опыта.*"/>
    <r3 value="^Вам надо набрать ([0-9]+) опыта"/>
  </regexp>
</plugindata>
