<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams hp="H" mv="V" dsu="X"/>
  <maxparams hp="1" hpid="r1" mv="2" mvid="r1" xp="1" xpid="r2" dsu="1" dsuid="r3"/>
  <regexp r1="^Вы имеете [0-9]+\(([0-9]+)\) единиц здоровья, [0-9]+\(([0-9]+)\) энергетических единиц." 
  r2="^Вы набрали ([0-9]+) опыта.*" 
  r3="^Вам надо набрать ([0-9]+) опыта"/>
</plugindata>
