<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams>
    <hp value="ж"/>
    <mv value="б"/>
    <dsu value="о"/>
  </baseparams>
  <maxparams>
    <hp value="1"/>
    <hpid value="r1"/>
    <mv value="2"/>
    <mvid value="r1"/>
    <xp value="1"/>
    <xpid value="r2"/>
  </maxparams>
  <regexp>
    <r1 value="^У Вас сейчас [0-9]+\(([0-9]+)\).* и [0-9]+\(([0-9]+)\)"/>
    <r2 value="^Ваш опыт составляет ([0-9]+)"/>
  </regexp>
  <levels>
    <array index="1" value="0"/>
    <array index="2" value="500"/>
    <array index="3" value="1200"/>
    <array index="4" value="2200"/>
    <array index="5" value="3200"/>
    <array index="6" value="4400"/>
    <array index="7" value="5900"/>
    <array index="8" value="7600"/>
    <array index="9" value="9600"/>
    <array index="10" value="11800"/>
    <array index="11" value="14300"/>
    <array index="12" value="16800"/>
    <array index="13" value="19500"/>
    <array index="14" value="22200"/>
    <array index="15" value="24900"/>
    <array index="16" value="27900"/>
    <array index="17" value="30900"/>
    <array index="18" value="34100"/>
    <array index="19" value="37300"/>
    <array index="20" value="40500"/>
    <array index="21" value="44000"/>
    <array index="22" value="47700"/>
    <array index="23" value="51400"/>
    <array index="24" value="55400"/>
    <array index="25" value="59400"/>
    <array index="26" value="63900"/>
    <array index="27" value="68400"/>
    <array index="28" value="73100"/>
    <array index="29" value="77800"/>
    <array index="30" value="82500"/>
    <array index="31" value="87500"/>
    <array index="32" value="92500"/>
    <array index="33" value="97700"/>
    <array index="34" value="102900"/>
    <array index="35" value="108400"/>
    <array index="36" value="113900"/>
    <array index="37" value="119400"/>
    <array index="38" value="125100"/>
    <array index="39" value="130800"/>
    <array index="40" value="136500"/>
    <array index="41" value="142500"/>
  </levels>
</plugindata>