<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams>
    <hp value="ж"/>
    <mv value="э"/>
    <dsu value="о"/>
  </baseparams>
  <maxparams>
    <hp value="1"/>
    <hpid value="r1"/>
    <mv value="1"/>
    <mvid value="r2"/>
    <xp value="2"/>
    <xpid value="r1"/>
  </maxparams>
  <regexp>
    <r1 value="^\*\).*Жизни.*?/([0-9]+).*?([0-9]+)"/>
    <r2 value="^\(\(.*Энергии.*?/([0-9]+).*"/>
  </regexp>
  <levels>
    <array index="1" value="0"/>
    <array index="2" value="2000"/>
    <array index="3" value="4000"/>
    <array index="4" value="8000"/>
    <array index="5" value="16000"/>
    <array index="6" value="32000"/>
    <array index="7" value="60000"/>
    <array index="8" value="90000"/>
    <array index="9" value="140000"/>
    <array index="10" value="200000"/>
    <array index="11" value="315000"/>
    <array index="12" value="445000"/>
    <array index="13" value="580000"/>
    <array index="14" value="780000"/>
    <array index="15" value="1090000"/>
    <array index="16" value="1360000"/>
    <array index="17" value="1750000"/>
    <array index="18" value="2200000"/>
    <array index="19" value="2700000"/>
    <array index="20" value="3250000"/>
    <array index="21" value="4330000"/>
    <array index="22" value="5500000"/>
    <array index="23" value="8800000"/>
    <array index="24" value="10800000"/>
    <array index="25" value="14700000"/>
    <array index="26" value="22000000"/>
    <array index="27" value="33000000"/>
    <array index="28" value="49000000"/>
    <array index="29" value="70000000"/>
    <array index="30" value="91000000"/>
    <array index="31" value="112000000"/>
    <array index="32" value="133000000"/>
    <array index="33" value="154000000"/>
    <array index="34" value="175000000"/>
    <array index="35" value="196000000"/>
    <array index="36" value="217000000"/>
    <array index="37" value="238000000"/>
    <array index="38" value="259000000"/>
    <array index="39" value="285000000"/>
    <array index="40" value="315000000"/>
    <array index="41" value="345000000"/>
    <array index="42" value="375000000"/>
    <array index="43" value="405000000"/>
    <array index="44" value="455000000"/>
    <array index="45" value="500000000"/>
  </levels>
</plugindata>
