<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams>
    <hp value="ж"/>
    <mv value="э"/>
    <xp value="о"/>
  </baseparams>
  <maxparams>
    <hp value="1"/>
    <hpid value="r1"/>
    <mv value="1"/>
    <mvid value="r2"/>
    <xp value="2"/>
    <xpid value="r1"/>
    <dsu value="2"/>
    <dsuid value="r2"/>
  </maxparams>
  <regexp>
    <r1 value="^\*\).*Жизни.*?/([0-9]+).*?([0-9]+)"/>
    <r2 value="^\(\(.*Энергии.*?/([0-9]+).*?([0-9]+)"/>
  </regexp>
</plugindata>
