<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams hp="H" mv="M" dsu="о"/>
  <maxparams hp="1" hpid="r1" mv="2" mvid="r1" xp="1" xpid="r2" dsu="1" dsuid="r3"/>
  <regexp r1="^Вы можете выдержать [0-9]+\(([0-9]+)\).*, и пройти [0-9]+\(([0-9]+)\)" 
  r2="^Ваш опыт - ([0-9]+)" 
  r3="^Вам осталось набрать ([0-9]+)"/>
  <levels>
    <exp>0</exp>
    <exp>2000</exp>
    <exp>4000</exp>
    <exp>8000</exp>
    <exp>14000</exp>
    <exp>24000</exp>
    <exp>39000</exp>
    <exp>69000</exp>
    <exp>119000</exp>
    <exp>189000</exp>
    <exp>289000</exp>
    <exp>419000</exp>
    <exp>579000</exp>
    <exp>800000</exp>
    <exp>1070000</exp>
    <exp>1340000</exp>
    <exp>1660000</exp>
    <exp>2030000</exp>
    <exp>2450000</exp>
    <exp>2950000</exp>
    <exp>3950000</exp>
    <exp>5250000</exp>
    <exp>6750000</exp>
    <exp>8450000</exp>
    <exp>10350000</exp>
    <exp>14000000</exp>
    <exp>21000000</exp>
    <exp>31000000</exp>
    <exp>44000000</exp>
    <exp>64000000</exp>
    <exp>79000000</exp>
  </levels>
</plugindata>
