<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams>
    <hp value="H"/>
    <mv value="M"/>
    <dsu value="о"/>
  </baseparams>
  <maxparams>
    <hp value="1"/>
    <hpid value="r1"/>
    <mv value="2"/>
    <mvid value="r1"/>
    <xp value="1"/>
    <xpid value="r2"/>
    <dsu value="1"/>
    <dsuid value="r3"/>
  </maxparams>
  <regexp>
    <r1 value="^Вы можете выдержать [0-9]+\(([0-9]+)\).*, и пройти [0-9]+\(([0-9]+)\)"/>
    <r2 value="^Ваш опыт - ([0-9]+)"/>
    <r3 value="^Вам осталось набрать ([0-9]+)"/>
  </regexp>
  <levels>
    <array index="1" value="0"/>
    <array index="2" value="2000"/>
    <array index="3" value="4000"/>
    <array index="4" value="8000"/>
    <array index="5" value="14000"/>
    <array index="6" value="24000"/>
    <array index="7" value="39000"/>
    <array index="8" value="69000"/>
    <array index="9" value="119000"/>
    <array index="10" value="189000"/>
    <array index="11" value="289000"/>
    <array index="12" value="419000"/>
    <array index="13" value="579000"/>
    <array index="14" value="800000"/>
    <array index="15" value="1070000"/>
    <array index="16" value="1340000"/>
    <array index="17" value="1660000"/>
    <array index="18" value="2030000"/>
    <array index="19" value="2450000"/>
    <array index="20" value="2950000"/>
    <array index="21" value="3950000"/>
    <array index="22" value="5250000"/>
    <array index="23" value="6750000"/>
    <array index="24" value="8450000"/>
    <array index="25" value="10350000"/>
    <array index="26" value="14000000"/>
    <array index="27" value="21000000"/>
    <array index="28" value="31000000"/>
    <array index="29" value="44000000"/>
    <array index="30" value="64000000"/>
    <array index="31" value="79000000"/>
  </levels>
</plugindata>
